.top-categories-container{
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
    gap: 0.7rem;
    flex-wrap: wrap;
    /* grid-template-columns: repeat(6, 1fr); */
    margin-bottom: 4.8rem;
    width: 100%;
}


.top-category{
    min-width: 30%;
    height: 24rem;
    border: 1px solid black;
    flex: 1 1 auto; 
    /* margin-right: 0.7rem; */
    margin-bottom: 1.5rem;
}

/* 
min-width: 30%;
    height: 240px;
    
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
   
    overflow: hidden; */